   *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            }
            body{
                font-family: "Roboto","SUSE";
            }
            /* === Styling Scrollbar ===*/
            ::-webkit-scrollbar{ /*Over all scrollbar*/
                width: 5px;
                background: rgb(255, 255, 255);
            } 
            ::-webkit-scrollbar-thumb{ /*jo scroll bar ka andr hai */
                width: 100%;
                border-radius: 2px;
                background: linear-gradient(to bottom, rgba(255, 0, 0, 0.277), rgba(0, 0, 255, 0.294));
            }
            /* === Styling Scrollbar End ===*/
            .header{
                position: relative;
                background: rgba(0, 0, 0, 0.845);
                height: 15vh;
                width: 100%;
                display: flex;
                justify-content:space-between;
                align-items: center;
                z-index: 10;
            }
            .logo{
                margin-left: 2vw;
                overflow: hidden;
            }
            .logo a img{
                transition: 0.3s ease-in-out;
                transform: rotate(-10deg);
            }
            .logo:hover a img{
                transform: scale(1.2) rotateY(180deg);
            }
            .logo img{
                width: 10vw;
            }
            nav{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            nav a{
                color: white;
                text-decoration: none;
                font-size: large;
                padding: 10px;
                border-radius: 1px;
                font-weight:300;
                margin:0px 10px;
                transition: 0.22s ease-in-out;
                display: inline-block; /*to use scale in hover*/
            }
            nav a:hover{
                color: red;
                background: #F9F9F9F9;
                
            }
            .cartdiv{
                display: inline;
                margin-right: 15px;
                transition: 0.2s ease-in-out;
                border-radius:3px ; 
            }
            .carticon{
                color: white;
                font-size: x-large;
                padding: 10px;
                transition: 0.1s ease-in-out;
            }
            .cartdiv:hover .carticon{
                color: red;
                transform: scale(1.01);
            }
            /*==== Footer ====*/
            .footer{
                margin-top: 20px;
                margin-bottom: 200px;
                font-family: 'Science Gothic';
                font-size: x-small;
                display: flex;
                width: 60%;
                justify-content: space-between;
            }
            .footer_part{
                margin-left: 15px;
            }
            .footer_part a{
                text-decoration: none;
                color: black;
                padding: 2px 2px;
                transition: 0.1s ease-in-out;
            }
            .footer_part a:hover{
                color: red;
            }
            .footer_part li {
                font-weight: 300;
                list-style: none;
                margin: 5px 0px 5px 0px;
            }
            .footertopline{
                border-top: 1px solid rgba(0, 0, 0, 0.16);
                margin-top: 100px;
            }
            footer{
                text-align: center;
                background: rgba(250, 250, 249, 0.925);
                padding-bottom: 15px ;
                font-size: smaller;
                font-weight: 400;
            }
            /*======= Products ======*/
            /* Top Pic */
            .newarrivaldiv{
                width: 100%;
                height: 90vh;
                overflow: hidden;
            }
            .newarrivaldiv img{
                width: 100%;
                height: 100%;
            }
            .outerofcollectionheading{
                display: flex;
                justify-content: center;
            }
            .collectionheading{
                text-align: center;
                border-bottom: 1px solid rgba(0, 0, 0, 0.385);
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 20px;
                width: 95vw;
                background: #F9F9F9F9;
                color: black;
                font-weight: 500;
            }
            .outerofproductsdiv{
                display: flex;
                justify-content: center;
            }
            /* Products Div */
            .productsdiv{
                padding: 10px 5px;
                border-radius: 0px;
                width: 95vw;
                justify-content:space-evenly;
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                background:#F9F9F9F9 ;
            }
             .card {
                width: 250px;
                background:rgba(173, 126, 126, 0.1);
                padding: 15px;
                border-radius: 3px;
                border: 1px solid transparent;
                /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12); */
                text-align: center;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                overflow: hidden;
            }

            /* Hover Effects */
            .card:hover {
                transform: translateY(-4px) scale(1.0002);
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
                border-bottom: rgba(0, 0, 0, 0.746) solid;
            }

            /* Image container */
            .card_img {
                width: 100%;
                height: 200px;
                overflow: hidden;
                border-radius: 1px;
                background: rgb(250, 250, 249);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /* Image itself */
            .card_img img {
                width: 90%;
                transform: scale(1.25);
                transition: 0.3s ease;
            }

            /* Image zoom on hover */
            .card:hover .card_img img {
                transform: scale(1.3);
            }
            /* Card Link */
            .card a{
                text-decoration: none;
            }
            /* Title */
            .card p {
                font-family: 'Roboto', sans-serif;
                margin-top: 12px;
                font-size: 1rem;
                font-weight: 600;
                color: #232323;
                text-align: left;
            }
            .card .price{
                font-size: small;
                font-weight: 500;
            }
            /* Color Buttons */
            .color{
                text-align: left;
            }
            .color button{
                width: 40px;
                height: 40px;
                border: 1px solid transparent;
                background: rgb(250, 250, 249);
                margin-top: 5px;
                cursor: pointer;
                transition: 0.1s ease-in-out;
            }
            .color button img{
                width: 100%;
                height: 100%;
                transform: scale(1.1);
                padding: 5px;
            }
            .color button:hover{
                border: 1px solid black;

            }

/* ========== Responsiveness ========== */
@media (max-width: 786px){
    nav a{
        font-size: xx-small;
    }
    .footer{
        gap: 50px;
    }
    body, html{
            overflow-x: hidden;
    }   
}
